.collection-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 10px 40px;
  
    h1 {
      font-size: 1.6rem;
      font-weight: 600;
      color: rgb(68, 64, 64);
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }


  