.card-box {
  padding-right: 18px;
  max-width: 280px;
  margin: auto;
  text-align: start;
  font-family: inherit;
  padding-bottom: 1rem;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 0.5px rgba(gray, 0.5);

  &:hover {
     cursor: pointer;
     transform: translateY(20px);
  }

& .title {
  color: #706c6c;
  font-weight: 500;
  font-size: 1rem;
 }

& .price {
  font-size: .9rem;
  font-weight: 700;
  padding-right: .5rem;
  color: rgb(66, 64, 64);
 }

& .price-1 {
  font-size: .9rem;
  color: rgb(71, 67, 67);
  text-decoration: line-through;
 }
}

.card-border {
  border: .5px solid rgb(231, 227, 227);
  box-shadow: 6px 0px 30px  rgba(240, 235, 235, 0.973);
  padding:  .5rem;
}

.card-image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.card-icon {
  margin: 4px 0;
  font-size: 1rem;

  & .span-p {
    padding-right: .5rem;
    color: rgb(66, 64, 64);
  }

 & a { 
   padding-right: .5rem;
   font-size: .9rem;
   color: rgb(231, 152, 78);
  }
}

span {
  color: rgb(66, 64, 64);
}

.card-btn {
  border-radius: 4px;
  outline: 0;
  display: block;
  margin-top: .9rem;
  padding: 2.5px;
  color: #fff;
  background-color: rgba(231, 124, 24, 0.795);
  text-align: center;
  width: 6rem;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.2s ease-in;

   &:hover {
    background-color: red;
    cursor: pointer;   
   }
}

button {
  border: none;
}