
.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 2rem;
    color:rgba(51, 48, 48, 0.918) !important;
}
.logo span {
    color: rgba(221, 14, 48, 0.89);
}